{% extends 'main.html' %}
{% load static %}
{% block content %}

<h1>Change Password</h1>

<!-- Display Error Messages -->
{% if messages %}
    <!-- <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul> -->
{% endif %}

<!-- Password Change Form -->
<form action="" method="POST">
    {% csrf_token %}
    {% for field in password_form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <button type="submit">Change Password</button>
</form>

{% endblock content %}
