{% extends 'main.html' %}


{% block content %}

<h1>Manage Courses</h1>

<div>
    
    <div>
      
    </div>
<!-- {% for user, enrolled_courses in user_courses_dict.items %}
  <h2>{{ user.username }}'s Enrolled Courses</h2>
  {% if enrolled_courses %}
    <ul>
      {% for course in enrolled_courses %}
        <li>{{ course.title }} - {{ course.description }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No enrolled courses for this user.</p>
  {% endif %}
{% endfor %} -->
</div>

{% endblock content %}