{% extends 'main.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
    <h1>Edit Profile</h1>

    <!-- Profile Update Form -->
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit">Save Changes</button>
    </form>

    <hr>

    <!-- Link to Change Password -->
    <p><a href="{% url 'change_password' %}">Change Password</a></p>

    <!-- Link to delete profile -->
    {% if user.username != 'admin' or user.id != 1 %}
    <p><a style="color: red;" href="{% url 'delete_account' %}">delete this account</a></p>
    {% else %}
    {% endif %}
    
{% endif %}

{% endblock content %}
